*{
    margin: 0px;
    padding: 0px;
}
header{
    height: 50%;
}
body{
  
    background-image:url('https://img.freepik.com/free-vector/around-world-watercolor-illustration_53876-34775.jpg?size=626&ext=jpg&ga=GA1.1.107694881.1686996804&semt=ais');
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    position:relative;
    top: 5vh;
    margin: auto auto;
    width: 29.3vw;
    height: 80vh;
    margin-top: 4px;
    box-shadow: 0px 0px 50px 2px #5f5e5e;
    border-radius:1%;
}
.main>image{
    border-radius: 120px;
    height: 210px;
}
.submain{
    align-items: start;
    margin: auto;
    height: 430px;
    text-align: start;
    background-color: hsl(0, 2%, 84%);
    background-color: transparent;
}
.pan{
    position: relative;
    font-size: 27px;
    font-weight: 600;  
    margin-left: 28px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.submain>.pan::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #beb9b9;
    border-radius: 25px;
    margin-left: 3px;
}
.submain .row1 {
    margin-left: 30px;
    display: grid;
grid-template-columns: 60px 340px;
grid-template-rows: repeat(4,.2fr);
margin-top: 30px;
font-size: larger;

}
.item a{
    text-decoration-line: none;
    color:#e82084;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
}
.item {
     margin-left: 32px;
     margin-top: 22px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row1 input {
    position: absolute;
    width: 19vw;
    height: 2.5vh;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 3px solid #aba5a5;
    border-top: 4px solid transparent;
    transition: all 0.2s ease;
    background: transparent;
}
.row1 i{
    font-size: 20px;
    color: #585757;
}
.img{
    width: 430px;
    height: 215px;
    border-radius: 5px;
}
.but>button{
    border-radius: 5px;
    background-color: #898787;
    border: none;
    color: white;
    width: 23.8vw;
    padding: 15px 30px 15px 30px;
    margin: 25px 40px 10px 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.pa{
    margin-top: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pa a{
    text-decoration-line: none;
    color: #e82084;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    border: none;
    text-decoration: none;
    margin-left: 2px;
}

@media (min-width:270px) and (max-width:420px) {

body{
    background-repeat: no-repeat;
    background-size: 200vh;
}
    .main{
    height: 70vh;
    width: 80vw;
    background-color: whitesmoke;
    opacity: .9;   
}
.main img{
width: 80vw;
}

 .row1 {
    height: 30px;
    width: 80%;
}

.item{
margin-top: 25px;
width:90%;
}
.but button{
    width: 70vw;
    
}
}
