*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:url('https://img.freepik.com/free-vector/around-world-watercolor-illustration_53876-34775.jpg?size=626&ext=jpg&ga=GA1.1.107694881.1686996804&semt=ais');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    top: 5vh;
    margin: auto auto;
    position:relative;
    width: 32vw;
    height: 90vh;
    box-shadow: 0px 0px 50px 2px #5f5e5e;
    border-radius:10px;
}
.main img{
    width: 32vw;
    height: 30vh;
    border-radius: 10px;
}
.submain{
    align-items: start;
    margin: auto;
    height: auto;
    text-align: start;
    background-color: hsl(0, 2%, 84%);
    border-radius:20px;
    background-color: transparent;
}
.pan{
    position: relative;
    font-size: 27px;
    font-weight: 600;  
    margin-left: 20px; 
}

 .row1 {
    position: relative;
    height: 50px;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;

}
.item{
margin-left: 25px;
width: 25vw;
 display: flex;
 justify-content: space-between;
}
.item a{
    text-decoration-line: none;
    color:#e82084;
}

.item>input{
    margin-left: 20px;
}
.row1 input {
    padding-left: 5px;
    position: absolute;
    height: 25px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    background: transparent;

}
.row1{
    color: black;
    border: none;
}
.row1 i{
    position: relative;
    font-size: 20px;
}
.but{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    height: 40px;
}
.but button{
    border-radius: 5px;
    background-color: #898787;
    color: white;
    border: none;
    width: 28vw;
    
}
.pa{
   display: flex;
   margin-top: 20px;
   justify-content: center;
}
.pa a{
    margin-left: 5px;
    text-decoration-line: none;
    color: #e82084;
  
}
input{
    border: none;
    text-decoration: none;
}

@media (min-width:270px) and (max-width:420px) {

body{
    background-repeat: no-repeat;
    background-size: 200vh;
}
    .main{
    height: 80vh;
    width: 80vw;
    background-color: whitesmoke;
    opacity: .9;   
}
.main img{
width: 80vw;
}

 .row1 {
    height: 30px;
    width: 80%;
}

.item{
margin-top: 25px;
width:90%;
}
.but button{
    width: 70vw;
    
}
}
